<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form [formGroup]="registerUserForm" (ngSubmit)="onSubmit()" class="p-4 form-register" >
      <h3 class="mb-4"> Formulario de Registro</h3>
      <div class="form-group">
        <label for="name"> Ingrese Nombre </label>
        <input type="text" id="name" formControlName="name" class="form-control"/>
        <div *ngIf="registerUserForm.get('name')?.invalid && registerUserForm.get('name')?.touched">
          <small class="text-danger">Ingrese un nombre</small>
        </div>
      </div>

      <div class="form-group">
        <label for="email"> Correo Electrónico </label>
        <input type="email" id="email" formControlName="email" class="form-control" placeholder="you@example.com" />
        <div *ngIf="registerUserForm.get('email')?.invalid && registerUserForm.get('email')?.touched">
          <small class="text-danger">El correo es requerido y debe tener un formato válido.</small>
        </div>
      </div>

      <div class="form-group">
        <label for="password"> Ingrese una Contraseña </label>
        <input type="password" id="password" formControlName="password" class="form-control" placeholder="6+ caracteres"/>
        <div *ngIf="registerUserForm.get('password')?.invalid && registerUserForm.get('password')?.touched">
          <small class="text-danger">La contraseña debe contener al menos 6 caracteres.</small>
        </div>
      </div>

      <label>Indique lo sigueinte: </label>
      <div>
        <input type="radio" formControlName="role" value="tutor" id="tutor" class="form-check-input">
        <label for="tutor"> Padre/Madre</label>
      </div>
      <div>
        <input type="radio" formControlName="role" value="teacher"  id="teacher" class="form-check-input">
        <label for="teacher"> Profesor(a)</label>
      </div>
      <button type="submit" class="btn btn-primary w-100 " [disabled]="registerUserForm.invalid">Registrarse</button>
    </form>
  </div>
  </div>
</div>
